<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" th:with="ctx_root=@{/}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/temp/vendor/bootstrap/css/bootstrap.min.css}"/>

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" th:href="@{/temp/vendor/metisMenu/metisMenu.min.css}"/>

    <!-- DataTables CSS -->
    <link rel="stylesheet" th:href="@{/temp/vendor/datatables/datatables.min.css}"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/temp/dist/css/sb-admin-2.css}"/>

    <!-- Morris Charts CSS -->
    <link rel="stylesheet" th:href="@{/temp/vendor/morrisjs/morris.css}"/>

    <!-- Custom Fonts -->
    <link rel="stylesheet" th:href="@{/temp/vendor/font-awesome/css/font-awesome.min.css}"/>

    <!-- jQuery -->
    <script th:src="@{/temp/vendor/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/temp/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/temp/vendor/metisMenu/metisMenu.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script th:src="@{/temp/vendor/raphael/raphael.min.js}"></script>
    <script th:src="@{/temp/vendor/morrisjs/morris.min.js}"></script>

    <!-- DataTables JavaScript -->
    <script th:src="@{/temp/vendor/datatables/datatables.min.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/temp/dist/js/sb-admin-2.js}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var csrf_name = [[${_csrf.parameterName}]];
        var csrf_token = [[${_csrf.token}]];
        var table_lang = {
            "sProcessing": "处理中...",
            "sLengthMenu": "每页 _MENU_ 项",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
            "sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页",
                "sJump": "跳转"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            },
            select: {
                rows: "选中 %d 行"
            }
        };
        function modal(a, method) {
            if (!method) {
                method = "get";
            }
            if ($(a).attr("href")) {
                $.ajax({
                    type: method,
                    url: $(a).attr("href"),
                    dataType: "html",
                    success: function (result) {
                        $("#modal_container").empty();
                        $("#modal_container").append(result);
                        $("#modal_container").modal();
                    }
                });
            }
        }
        function reload(a) {
            if ($(a).attr("href")) {
                var rep = true;
                if ($(a).hasClass("btn-danger")) {
                    rep = confirm("确认执行" + $(a).text() + "操作吗？");
                }
                if (rep) {
                    $.ajax({
                        type: "get",
                        url: $(a).attr("href"),
                        dataType: "json",
                        success: function (result) {
                            $(a).parents("table").dataTable().fnDraw(false);
                        }
                    });
                }
            }
        }
        function refresh(a) {
            if ($(a).attr("href")) {
                var rep = true;
                if ($(a).hasClass("btn-danger")) {
                    rep = confirm("确认执行" + $(a).text() + "操作吗？");
                }
                if (rep) {
                    $.ajax({
                        type: "get",
                        url: $(a).attr("href"),
                        dataType: "json",
                        success: function (result) {
                            window.location.reload();
                        }
                    });
                }
            }
        }
        function redirect(a) {
            if ($(a).attr("href")) {
                var temp = document.createElement("form");
                temp.action = $(a).attr("href");
                temp.method = "post";
                temp.style.display = "none";

                var opt = document.createElement("textarea");
                opt.name = csrf_name;
                opt.value = csrf_token;
                temp.appendChild(opt);

                document.body.appendChild(temp);
                temp.submit();

                return temp;
            }
        }
        function ajax_table(table, url, columns, btn, conditions, options) {
            var tab_ops = {
                columns: columns,
                ajax: function (data, callback, settings) {
                    var param = {};
                    param.pageSize = data.length;
                    param.pageNo = (data.start / data.length) + 1;
                    if (conditions) {
                        for (var key in conditions) {
                            param[key] = $("#" + conditions[key]).val();
                        }
                    }
                    param[csrf_name] = csrf_token;
                    if (data.order) {
                        var order_map = {};
                        for (var i = 0; i < data.order.length; i++) {
                            order_map[data.columns[data.order[i].column].data] = data.order[i].dir;
                        }
                        param["order"] = order_map;
                    }
                    $.ajax({
                        type: "post",
                        url: url,
                        cache: false,
                        data: param,
                        dataType: "json",
                        success: function (result) {
                            var returnData = {};
                            returnData.draw = data.draw;
                            returnData.recordsTotal = result.data.total;
                            returnData.recordsFiltered = result.data.total;
                            returnData.data = result.data.rows;
                            callback(returnData);
                        }
                    });
                },
                responsive: true,
//                select: {
//                    items: 'row',
//                    style: 'os',
//                    className: 'selected'
//                },
                language: table_lang,  // 提示信息
                autoWidth: false,   // 禁用自动调整列宽
                bLengthChange: false, // 禁用显示每页多少行
                //lengthMenu: [25, 50, 100],
                stripeClasses: ["odd", "even"], // 为奇偶行加上样式，兼容不支持CSS伪类的场合
                processing: false,   // 隐藏加载提示,自行处理
                serverSide: true,   // 启用服务器端分页
                searching: false,    // 启用原生搜索
                orderMulti: true,   // 启用多列排序
                order: [],       // 取消默认排序查询,否则复选框一列会出现小箭头
                renderer: "bootstrap", // 渲染样式：Bootstrap和jquery-ui
                pagingType: "simple_numbers", //分页样式：simple,simple_numbers,full,full_numbers
                columnDefs: [{
                    "targets": 'nosort', // 列的样式名
                    "orderable": false  // 包含上样式名‘nosort'的禁止排序
                }]
            };
            if (options) {
                for (var key in options) {
                    tab_ops[key] = options[key];
                }
            }
            table.DataTable(tab_ops);
            if (btn) {
                btn.click(function () {
                    table.dataTable().fnDraw(false);
                });
            }
        }
        /*]]>*/
    </script>
</head>

<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">40% Complete</span>
                                </p>

                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>

                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>

                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">80% Complete</span>
                                </p>

                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a onclick="redirect(this);return false" th:href="@{/logout}"><i
                            class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation" th:include="include/sidebar :: sidebar">
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper" layout:fragment="content">
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
    <div id="modal_container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true"></div>
</div>
<!-- /#wrapper -->

</body>

</html>
