<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/admin">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tables</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12" th:include="include/notification :: notification"></div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-inline">
                        <span>Username</span>
                        <input type="text" class="form-control input-sm" id="search_username"/>
                        <a class="btn btn-primary btn-sm" title='搜索' id="btn_search" href="javascript:void(0)"><i
                                class="fa fa-search"/>搜索</a>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            ajax_table(
                    $("#dataTables-example"),
                    window.location,
                    [
                        {"title": "用户名", "data": "username"},
                        {
                            "title": "操作",
                            "orderable": false,
                            "render": function (data, type, row, meta) {
                                return '<a class="btn-sm btn-info" onclick="modal(this);return false" href="'
                                        + [[${ctx_root}]] + "demo/model_edit_dialog?id=" + row.id + '">编辑</a>' +
                                        '<a class="btn-sm btn-danger" onclick="reload(this);return false" href="'
                                        + [[${ctx_root}]] + "demo/delete?id=" + row.id + '">删除</a>';
                            }
                        },
                    ],
                    $('#btn_search'),
                    {
                        "username": "search_username"
                    }
            );
        });
        /*]]>*/
    </script>
</div>
</body>
</html>